body{
    font-family:'IBM Plex Sans', sans-serif;;
}
header{
    display: flex;
     align-items: center;
         justify-content: space-between;

}
.logo{
    width: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;

}
nav a{
    margin-left: 26px;
    text-decoration: none;
    color:#0D2B46;
}
.navbar {
    padding: 42px;
    background-color: #E1EEFF;
}
.auth button{
    padding: 8px 16px;
    border-radius: 50px;
   

}
.login{
    border-color: #0360D9;
    background-color: transparent;
    color: #0360D9;
       border-width: 1px;
}
.signup{background-color: #0360D9;
    color:white;
    border:none;
    border-width: 1px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E1EEFF;
    background-image: url("picture/Ellipse_14.png");
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 50%;
    padding-left: 25px;
    padding-right: 25px;
    
}
.hero-text{
   max-width: 50%;
}
.hero-text h1{
    font-size:54px ;
}
.hero-text p{
    font-size: 16px;
    line-height: 2rem;
}
/**.hero-image .dr-image{
     position: relative;
}**/
.hero-image .dr-image {
  width:700px;
  height: auto;
  z-index: 1;
}

.search{
    display: flex;
    gap: 82px;
    background-color: white;
    padding: 20px 24px;
    width: 420px;
    border-radius: 50px;
}
.curved-underline {
  position: relative;
    display: inline-block;
  color: #0b5ed7;
  font-weight: 700;
}

.curved-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 12px;
  border-bottom: 4px solid #0b5ed7;
  border-radius: 50%;
  transform:rotate(178deg);
}
select{
   border: none; 
     outline: none;   /* removes blue focus border */

}
.search-btn{
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: #0360D9;
}
.field{
        display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 27px;
    color: white;
}
.counter{
    display: flex;
    gap: 10px;
    background-color: #0360D9;
    padding-top:40px ;
    padding-bottom: 40px;
}